services:
  mongodb:
    image: mongo
    container_name: condolivre-mongodb-test
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
    restart: always

volumes:
  mongodb_data:
  mongodb_config:
